.mappedImag{
    @apply flex flex-col items-center justify-center py-[10px]
}
.mappedImag >div{
    @apply  w-[50px] md:w-[100px] rounded-[30%] overflow-hidden items-center flex justify-between border-[2px] border-gray-500;
}
.mappedImag p{
    @apply text-[10px] md:text-[15px] md:font-[720] truncate max-w-[50px] md:max-w-[100px]
}
.leftBar{
    @apply hidden md:flex md:flex-col h-[100%] md:w-[20%] md:py-[10px] md:ml-[10px] pt-[40px] gap-[20px]
}
.homePage{
    @apply flex md:pl-[20px]
}
.currentText{
    @apply py-[10px] text-[20px]  hover:text-white px-[30px] mx-[5px] rounded-md hover:cursor-pointer
}
.rightBar{
    @apply  md:px-0 pt-[20px] border-[1px] rounded-md border-white w-[100%] flex flex-col gap-[10px]
}
.inputBar{
    @apply  md:ml-0 border-[1px] border-white flex w-[200px] md:w-[400px] rounded-[10px] overflow-hidden justify-end
}
.headers{
    @apply bg-gray-800 flex justify-between items-center px-[10px] md:px-[20px] h-[20px] md:h-[40px] border-b-white border-[1px]
}

.headers> p{
    @apply text-[10px] md:text-[15px] hover:cursor-pointer
}
@keyframes __slideIn {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}
.signIn{
    animation: __slideIn .5s ease;
    @apply flex flex-col items-center justify-center gap-[10px] sm:gap-[6px] rounded-md w-[100vw] h-[85vh]
}
.signIn> section{
    display:flex;

    border-radius: 30px;
    text-align: center;
    cursor:pointer;
    margin-block: 10px;
    @apply hover:scale-105 transform ease-in-out duration-500 py-[15px] px-[30px] sm:py-[10px] sm:px-[22px]
}
.signIn>p{
    font-weight:720;
    font-size: 20px;
    margin-bottom: 20px;
}
.signIn>section>p{
    font-weight: 650;
}

.componentTitle{
    @apply text-[600] pb-[15px] font-[720]
}
.trackMetaData>p{
    @apply md:max-w-[100px] text-nowrap  overflow-ellipsis text-[11px] md:text-[15px]
}
.emptyComponent{
    @apply h-[170px] flex items-center justify-center w-full border-white border-[1px] p-[10px]
}
.emptyComponent>p{
    @apply font-[710] text-[15px] text-nowrap
}
.hamburgerList{
    @apply lg:hidden fixed top-0 right-0 w-[40%] min-h-screen bg-gray-800  z-50 flex flex-col backdrop-blur-sm
    space-y-6 transform transition-all duration-[2000] ease-in-out pt-[30px] px-[10px]
}
.hamburgerListLink {
    @apply hover:bg-blue-500 text-[25px] font-[700] w-full rounded-md px-[20px]
}
.main{
    @apply flex justify-between h-full flex-col min-h-screen
}
.footer{
    @apply flex justify-around mt-[50px] sm:mt-[30px]
}
.footer p{
    @apply cursor-pointer hover:underline sm:text-[12px] text-nowrap
}